body{
    font-family: "Times New Roman", Times, serif;
    font-size: "24px";
  }
  
  h1{
    background-color: black;
    color: white;
  }

  .list-group-item{
    display: flex;
    justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px
  }

  .list-group-item:hover{
    background-color: lightgray;
  }

  .btn-primary{
    background-color: black;
    border-color: black;
    margin: 1px;
  }

  .btn-primary:disabled{
    background-color: black;
    border-color: black;
  }

  .btn-info{
    background-color: rgb(136, 133, 133);
    border-color: rgb(136, 133, 133);
    margin: 1px;
  }

  .btn-info:disabled{
    background-color: rgb(111, 108, 108);
    border-color: rgb(111, 108, 108);
  }

  .btn-info:hover{
      background-color: rgb(53, 52, 52);
      border-color: rgb(53, 52, 52);
  }

  .btn-primary:hover {
    background-color: white;
    color: black;
    border-color: black;
  }

  .btn-primary:focus {
    background-color: black;
    color: white;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: gray;
  }
  
  .nav-pills .nav-link.active {
    background-color: black;
    border-color: black;
  }
  
  .nav-link.active:hover {
    background-color: gray;
    border-color: gray;
  }
  
  .nav-link,
  .btn {
    font-weight: bold;
  }
  
  .btn.btn-danger {
    background-color: white;
    border-color: red;
    color: red;
  }
  
  .btn.btn-danger:hover {
    background-color: red;
    border-color: red;
    color: white;
  }
  
  .alert-danger li {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
  }
  
  .list-group {
    margin-bottom: 10px;
  }

  .pager {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .m-2 {
    width: 30%;
  }

  .input-group-append {
    margin-top: 5px;
  }
  
  .category-nav {
    width: 30%;
    margin-bottom: 5px;
  }

  .product-page {
    font-size: 24px;
  }
